.container {
    position: relative;
    margin-bottom: 20px;
}

.topp {
    vertical-align: center;
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
}

.topp > h1 {
    margin: 0;
}

.topp > label {
    line-height: 2;
}

.menyknapp {
    border: none;
    font-size: 2em;
    font-weight: bold;
    background: transparent;
    color: white;
}

.meny {
    margin: 10px 0;
    padding: 5px;
    text-align: right;
    background-color: rgba(255, 220, 220, 0.1);
}
