.container {
    display: flex;
}

.size {
    box-sizing: border-box;
    height: 1.4em;
    font-size: 1.4em;
}

.input {
    flex: 1 1 auto;
}

.input::placeholder {
    color: silver;
}

.button {
    flex: none;
    width: 1.4em;
}
